body {
    margin: 0;
    background-image: url("record.png");
    background-repeat: repeat;
}
.header {
    background-color: black;
    color: yellow;
    text-align: center;
}
.main {
    padding: 1em;
    background-color: lightgray;
}
